@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background:#e4f0fb;
    --active-background:rgba(255, 60, 90);
    --header-color:hsl(0, 0%, 100%);
    --font-weight:500;
    --font-1:'Poppins', sans-serif;
    --font-2:'Sora', sans-serif;
    --font-3:'Be Vietnam Pro', sans-serif;
    --active-font-color:rgb(255, 255, 255);
    --display-flex:flex;
    --border-radius: 12px;
    --transition-animation: all 0.5s ease;
    --hover-transform-scale:scale(1.05);
    --text-uppercase:uppercase;
    --text-captalize:capitalize;
    --justify-center:center;
    --border-width:0.13rem;
    --border-color:dodgerblue;
    --border-style:solid;

}


*{
    margin: 0;
    padding: 0;
    
}

html{background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 390' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cstyle%3E .path-0%7B animation:pathAnim-0 4s%3B animation-timing-function: linear%3B animation-iteration-count: infinite%3B %7D %40keyframes pathAnim-0%7B 0%25%7B d: path('M 0 400 C 0 400 0 133 0 133 C 92.89952153110048 117.56459330143541 185.79904306220095 102.12918660287082 284 104 C 382.20095693779905 105.87081339712918 485.7033492822967 125.04784688995214 583 119 C 680.2966507177033 112.95215311004786 771.3875598086124 81.6794258373206 865 84 C 958.6124401913876 86.3205741626794 1054.7464114832537 122.23444976076556 1151 136 C 1247.2535885167463 149.76555023923444 1343.6267942583731 141.38277511961724 1440 133 C 1440 133 1440 400 1440 400 Z')%3B %7D 25%25%7B d: path('M 0 400 C 0 400 0 133 0 133 C 80.06698564593302 107.21052631578948 160.13397129186603 81.42105263157896 257 85 C 353.86602870813397 88.57894736842104 467.53110047846894 121.52631578947367 557 130 C 646.4688995215311 138.47368421052633 711.7416267942583 122.47368421052633 820 130 C 928.2583732057417 137.52631578947367 1079.5023923444976 168.57894736842107 1190 173 C 1300.4976076555024 177.42105263157893 1370.248803827751 155.21052631578948 1440 133 C 1440 133 1440 400 1440 400 Z')%3B %7D 50%25%7B d: path('M 0 400 C 0 400 0 133 0 133 C 83.4736842105263 153.19138755980862 166.9473684210526 173.38277511961724 262 163 C 357.0526315789474 152.61722488038276 463.6842105263157 111.6602870813397 554 102 C 644.3157894736843 92.3397129186603 718.3157894736843 113.97607655502395 814 128 C 909.6842105263157 142.02392344497605 1027.0526315789473 148.43540669856458 1135 148 C 1242.9473684210527 147.56459330143542 1341.4736842105262 140.2822966507177 1440 133 C 1440 133 1440 400 1440 400 Z')%3B %7D 75%25%7B d: path('M 0 400 C 0 400 0 133 0 133 C 125.07177033492826 142.13875598086122 250.14354066985652 151.27751196172247 336 160 C 421.8564593301435 168.72248803827753 468.4976076555023 177.0287081339713 548 159 C 627.5023923444977 140.9712918660287 739.8660287081342 96.60765550239233 859 100 C 978.1339712918658 103.39234449760767 1104.0382775119615 154.54066985645935 1202 168 C 1299.9617224880385 181.45933014354065 1369.9808612440193 157.22966507177034 1440 133 C 1440 133 1440 400 1440 400 Z')%3B %7D 100%25%7B d: path('M 0 400 C 0 400 0 133 0 133 C 92.89952153110048 117.56459330143541 185.79904306220095 102.12918660287082 284 104 C 382.20095693779905 105.87081339712918 485.7033492822967 125.04784688995214 583 119 C 680.2966507177033 112.95215311004786 771.3875598086124 81.6794258373206 865 84 C 958.6124401913876 86.3205741626794 1054.7464114832537 122.23444976076556 1151 136 C 1247.2535885167463 149.76555023923444 1343.6267942583731 141.38277511961724 1440 133 C 1440 133 1440 400 1440 400 Z')%3B %7D %7D%3C/style%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='50%25' x2='100%25' y2='50%25'%3E%3Cstop offset='5%25' stop-color='%23eb144c'%3E%3C/stop%3E%3Cstop offset='95%25' stop-color='%23ff6900'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M 0 400 C 0 400 0 133 0 133 C 92.89952153110048 117.56459330143541 185.79904306220095 102.12918660287082 284 104 C 382.20095693779905 105.87081339712918 485.7033492822967 125.04784688995214 583 119 C 680.2966507177033 112.95215311004786 771.3875598086124 81.6794258373206 865 84 C 958.6124401913876 86.3205741626794 1054.7464114832537 122.23444976076556 1151 136 C 1247.2535885167463 149.76555023923444 1343.6267942583731 141.38277511961724 1440 133 C 1440 133 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='0.53' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3Cstyle%3E .path-1%7B animation:pathAnim-1 4s%3B animation-timing-function: linear%3B animation-iteration-count: infinite%3B %7D %40keyframes pathAnim-1%7B 0%25%7B d: path('M 0 400 C 0 400 0 266 0 266 C 94.88995215311004 249.76076555023923 189.7799043062201 233.52153110047843 295 244 C 400.2200956937799 254.47846889952157 515.7703349282295 291.6746411483254 606 297 C 696.2296650717705 302.3253588516746 761.1387559808613 275.77990430622015 846 257 C 930.8612440191387 238.22009569377988 1035.6746411483252 227.20574162679426 1138 230 C 1240.3253588516748 232.79425837320574 1340.1626794258373 249.39712918660285 1440 266 C 1440 266 1440 400 1440 400 Z')%3B %7D 25%25%7B d: path('M 0 400 C 0 400 0 266 0 266 C 92.92822966507177 280.26794258373207 185.85645933014354 294.53588516746413 292 303 C 398.14354066985646 311.46411483253587 517.5023923444976 314.1244019138756 604 311 C 690.4976076555024 307.8755980861244 744.1339712918659 298.9665071770335 832 300 C 919.8660287081341 301.0334928229665 1041.9617224880383 312.00956937799043 1149 308 C 1256.0382775119617 303.99043062200957 1348.0191387559807 284.9952153110048 1440 266 C 1440 266 1440 400 1440 400 Z')%3B %7D 50%25%7B d: path('M 0 400 C 0 400 0 266 0 266 C 74.01913875598083 259.67464114832535 148.03827751196167 253.34928229665073 259 248 C 369.96172248803833 242.65071770334927 517.8660287081341 238.27751196172247 622 236 C 726.1339712918659 233.72248803827753 786.4976076555023 233.54066985645935 875 240 C 963.5023923444977 246.45933014354065 1080.1435406698565 259.5598086124402 1179 265 C 1277.8564593301435 270.4401913875598 1358.9282296650717 268.2200956937799 1440 266 C 1440 266 1440 400 1440 400 Z')%3B %7D 75%25%7B d: path('M 0 400 C 0 400 0 266 0 266 C 122.95693779904306 260.39234449760767 245.91387559808612 254.7846889952153 323 243 C 400.0861244019139 231.2153110047847 431.3014354066986 213.2535885167464 536 226 C 640.6985645933014 238.7464114832536 818.8803827751194 282.2009569377991 916 289 C 1013.1196172248806 295.7990430622009 1029.177033492823 265.9425837320574 1103 256 C 1176.822966507177 246.0574162679426 1308.4114832535884 256.0287081339713 1440 266 C 1440 266 1440 400 1440 400 Z')%3B %7D 100%25%7B d: path('M 0 400 C 0 400 0 266 0 266 C 94.88995215311004 249.76076555023923 189.7799043062201 233.52153110047843 295 244 C 400.2200956937799 254.47846889952157 515.7703349282295 291.6746411483254 606 297 C 696.2296650717705 302.3253588516746 761.1387559808613 275.77990430622015 846 257 C 930.8612440191387 238.22009569377988 1035.6746411483252 227.20574162679426 1138 230 C 1240.3253588516748 232.79425837320574 1340.1626794258373 249.39712918660285 1440 266 C 1440 266 1440 400 1440 400 Z')%3B %7D %7D%3C/style%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='50%25' x2='100%25' y2='50%25'%3E%3Cstop offset='5%25' stop-color='%23eb144c'%3E%3C/stop%3E%3Cstop offset='95%25' stop-color='%23ff6900'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M 0 400 C 0 400 0 266 0 266 C 94.88995215311004 249.76076555023923 189.7799043062201 233.52153110047843 295 244 C 400.2200956937799 254.47846889952157 515.7703349282295 291.6746411483254 606 297 C 696.2296650717705 302.3253588516746 761.1387559808613 275.77990430622015 846 257 C 930.8612440191387 238.22009569377988 1035.6746411483252 227.20574162679426 1138 230 C 1240.3253588516748 232.79425837320574 1340.1626794258373 249.39712918660285 1440 266 C 1440 266 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='1' class='transition-all duration-300 ease-in-out delay-150 path-1'%3E%3C/path%3E%3C/svg%3E");
    background-color: #e4f0fb;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    transition: var(--transition-animation);
    -moz-transition: var(--transition-animation);
    -webkit-transition: var(--transition-animation);
    -ms-transition:var(--transition-animation);
    -o-transition: var(--transition-animation);
  }



header{
    height: 40px;
    overflow: hidden;
    display: var(--display-flex);
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding: 18px;
    margin: 12px 10px;
    border-radius: var(--border-radius);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.14);
    
}

h1{
    margin-left: 10px;
    font-family: var(--font-1);
    text-transform: var(--text-uppercase);
    font-weight: var(--font-weight);
}

nav{
    display: var(--display-flex);
    padding: 8px 8px;
    border-radius: var(--border-radius);
  }

nav .title-2{
    display: none;
}

nav input{
    text-transform: capitalize;
    font-family: var(--font-2);
    background-color: white;
    margin-left: 10px;
    outline: none;
    border-style: solid;
    border-radius: 10px;
    padding: 0px 12px;
    align-self: center;
    border-color: rgb(212, 212, 212);
    border-width:var(--border-width);
    height: 36px;
    width: 250px
}

nav input:focus{
    border-color:var(--border-color);
}



nav a{
    margin: 10px;
    border-radius: 6px;
    font-size: 1rem;
    color: black;
    padding: 10px 24px;
    text-decoration: none;
    font-family:var(--font-2);
    transition: all 0.1s ease;
    
    
}

nav svg{
    padding: 0px 8px 0px 0px;
    transform: translateY(2px);
  }  


nav a.active{
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.06);
    color: var(--active-font-color);
    background:linear-gradient(to bottom, rgba(0, 128, 255, 1) 0%, rgba(80, 155, 255, 1) 100%);
}


nav a:hover{
    transform: var(--hover-transform-scale);
    color: white;
    background:linear-gradient(to top, rgba(255, 60, 100, 1) 0%, rgba(255, 80, 80, 1) 100%);
}



table{
    margin: 60px auto;
    font-family: var(--font-2);
    text-align: center;
    /* border-style: solid; */
}

.table-head{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    user-select: none;
}

.table-head img{
   padding: 10px; 
    width: 48px;
}


table tr{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


table td{
    font-family: var(--font-3);
    cursor: pointer;
    text-transform: var(--text-captalize);
    font-size: large;
    background-color: rgb(255, 255, 255);
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: white;
    margin: 10px 20px;
    padding: 4px 24px;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

}

table td:hover{
    border-color: var(--border-color);
    transform: var(--hover-transform-scale);
    transition: all 0.15s ease-in-out;
}


table img{
    padding: 14px 34px 14px 16px;
    width: 48px;
    height: auto;
}



            








/* Responsiveness */

@media screen and (max-width: 1024px){

    html{
        background-image: none;
        background-size: contain;
    }

    header{
        height: auto;
        justify-content: var(--justify-center);
    }
    header .title{
        display: none;
    } 
    header .title-2{
        margin-bottom: 10px;
        display: var(--display-flex);
    }

    nav {
        background-color: rgba(122, 122, 122, 0.2);
        justify-content: var(--justify-center);
        max-width:350px;;
        flex-wrap: wrap;
    }
    nav a {
        width: 100%;
        margin-top: 0px;
        padding: 10px 10px;
        text-align: center;
    }

    nav input{
        height: 40px;
        margin: 10px;
        padding: 0px 10px;
        width: 100%;
    }

    table td{
        margin: 20px;
        font-size: smaller;
        box-shadow: none;
    }

    .table-head{
        font-size: larger;
    }
}
@media screen and (max-width: 768px){
    html{
        background-image: none;
    }

    table td{
        font-size: 0.9rem;
        margin: 15px 30px;
        font-size: smaller;
        box-shadow: none;
    }
    .table-head{
        font-size: large;
    }
    .table-head img{
        padding: 10px; 
        width: 36px;
     }
}









/* Loading Screen */

.wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: dodgerblue;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    text-transform: var(--text-uppercase);
    font-family: var(--font-3);
    font-weight: 700;
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 8px;
    color: dodgerblue;
    left:15%;
}
